body {
    background-color: #f2f6ff;
    font-family: Arial, sans-serif;
}

h2 {
    color: #2c3e50;
    text-align: center;
}

form {
    background-color: #ffffff;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

label {
    color: #34495e;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}

input[type="reset"] {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    opacity: 0.8;
}
