* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #242470;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00adb5;
}

section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

h2 {
    margin-bottom: 15px;
    color: #1e1e2f;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

.project-box {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid #00adb5;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

a{
    color: #00adb5;
    text-decoration: none;
}

.gap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    gap: 1000px;
    margin-bottom: 110ch;
}
footer {
    background-color: #1e1e2f;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
